body {
  text-align: center;
  padding: 25 50 50 100;
  font-family: FreeMono, monospace;
  background-color: FFFAFA;
  color: 191970;
  
ul {
  text-align: center;
  list-style-position: inside; }

ol {
  text-align: center;
  list-style-position: inside; }
