/* below will change the overall layout and style of the page */
body {
  font-family: FreeMono, monospace;
  background-color: lightcyan;
  color: indigo;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: center;
}
/*this will change the properties of the unordered list*/
ul {
  text-align: center;
  list-style-position: inside; 
}
/*this will change the properties of the ordered list*/
ol {
  text-align: center;
  display: inline-block;
}
/*this will change the properties of the main heading*/
  h1 {
    height: 100px;
  }
/*this will change the properties of the paragraph-text*/
  p {
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
      margin-top: 25px;
      margin-left: 150px;
      margin-right: 150px;
      margin-bottom: 25px;
  }
/*this will change the properties of the image*/
 img {border-radius: 10px;
     max-width: 100%;
      height: auto;
     }
/*this will change the properties of the links*/
a:link {color: FireBrick;}
a:visited {color: DarkBlue;}
a:hover {color: black;}


